body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2, p {
    text-align: center;
    color: #333;
}

.container {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

table {
    margin: 20px; /* Add space around the table */
    border-collapse: collapse;
    width: calc(100% - 40px); /* Subtract twice the margin value from 100% width */
    display: table;
}


form {
    text-align: center;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    margin: 5px;
    width: 200px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4caf50;
    color: white;
}

.message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.proceed-button {
display: inline-block;
padding: 8px 12px;
background-color: #4CAF50;
color: white;
text-align: center;
text-decoration: none;
font-size: 14px;
cursor: pointer;
border-radius: 4px;
}

.Transaction-Data {
    margin-top: 20px;
}

.Back-Home {
    text-align: center;
    margin-top: 20px;
}

.Back-button {
    color: #4caf50;
    text-decoration: none;
}

.Back-button:hover {
    text-decoration: underline;
}