:root {
    --body-bg: #f5f5f5;
    --nav-bg: rgba(137, 76, 76, 0.9);
    --text-color: #333;
}

* {
    box-sizing: border-box;
}

header {
    position: top;
    background-color: #666666;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background-color: var(--body-bg);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 2rem;
}

nav {
    background-color: var(--nav-bg);
    padding: 10px 0;
    position: sticky;
    top: 0;
    max-height: 100%;
    width: 100%;
}

.nav-list {
    font-size: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: 3rem;
    padding-block: 2rem;
    justify-content: space-around;
}

.nav-list li {
    margin-left: 2rem;
    padding: 1rem 2rem;
    background-color: #7697ae;
    text-align: center;
    border-radius: 100vw 0 0 100vw;
}

.nav-list li.active {
    background-color: var(--body-bg);
}
.nav-list li:hover {
    background-color: var(--body-bg);
}
.nav-list a {
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
}

.main {
    padding: 20px;
    border-left: 2px solid #34495e;
}

.main h2 {
    color: #3498db;
    text-align: center;
}

.main img {
    align-items: center;
    image-rendering: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.main h3 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

td {
    border: 1px solid #3498db;
    padding: 8px;
    text-align: left;
}

th {
    border: 1px solid #3498db;
    padding: 8px;
    background-color: #3498db;
    color: white;
    text-align: center;
}

.message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

.Back-Home {
    text-align: center;
    margin-top: 20px;
}

.Back-button {
    color: #4caf50;
    text-decoration: none;
}

.Back-button:hover {
    text-decoration: underline;
}

footer {
    background-color: #666666;
    color: white;
    text-align: center;
    padding: 1px;
    clear: both;
    bottom: 0;
    width: 100%;
    position: bottom;
}